body{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    font-family:'Courier New', Courier, monospace;
    height: auto;
    width: 100%;
    padding-left: 10px;
}
.container {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background: url('/imgs/designpreviewTrans.png') center center / cover no-repeat;
}

.company_logo{
    height: 200px;
    justify-content: center;
}
.forgot, .signup, .login{
    color:red;
    text-decoration: underline;
}
.login_details_username, .login_details_password, input{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: purple;
    border-width: small;
    text-align: center;
}
.forgot, .Tologin{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.new{
    color:teal;
}
.redirect_signup{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.login_head{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}
.sell_btn, .buy_btn{
    font-weight: bold;
    border-radius: 10px;
    border-color: #efefef;
    width: 40%;
    
}
.buy_btn{
    background-color: rgb(66, 146, 146);
}
.sell_btn{
    background-color: rgb(150, 73, 150);
}
.login_btn, .signup_btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*background-color: #efefef;*/
}
.btn_login, .btn_signup{
    border-radius: 10px;
    border-color: purple;
    border-left: 2px;
    border-left-color: teal;
    border-right: 2px;
    border-right-color: teal;
    width: 40%;
}
.myButton {
	box-shadow:inset 8px 38px 26px -1px #276873;
	background-color:transparent;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}